<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>사용자 추가 성공 페이지</title>
    </head>
    <body>
        <h2>사용자 추가 성공</h2><br>
        <div>
            <p>사용자 아이디 : <%= userid %></p><br>
            <p>사용자 이름 : <%= username %></p><br>

        </div>
        <br>
    </body>
</html>