<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height ,initial-scale=1" />
        <title>프로필 화면</title>

        <link rel = "stylesheet"
        href="//netdna.bootstrapcdn.com//bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel = "stylesheet"
        href="//netdna.bootstrapcdn.com//font-awesome/4.0.3/css/font-awesome.min.css">

    </head>
    <body>
        <div class= "container">
            <div class="page-header text-center">
                <h1><span class = "fa fa-anchor"></span>사용자 프로필</h1>
                <form action="/logout" method="GET">
                    <button type="submit" class="btn btn-warning btn-lg">로그아웃</button>
                </form>
            </div>
            <br>
            <div class ="row">
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class = "fa fa-user"></span>로컬 프로필 정보</h3><br>
                        <p>
                            <strong>이름</strong> : <%= user.name %><br>
                            <strong>아이디</strong>: <%= user.id %> 
                        </p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </body>
</html>