<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Load connect from CDN -->
    <script src="https://unpkg.com/uport-connect/dist/uport-connect.js"></script>
  </head>
  <title>sendVerification for ST</title>
  <body>

    <div id>
      <h1>DID 신분증 발급</h1>
      <img src="/images/person.png" width:400px height:400px />
      <h4>서울지방 경찰청 송진우 경찰청장</h4>
      <style>
        body {
          text-align: center;
        }
      </style>
      <p>
        </div>


    <div id="msg">
      <h3>
      send DID Document for Verify,<br />
      Give the module a second to load...
      </h3>
      <h4>
        <p></p>
        <span style="border:1px solid;padding:20px; text-align: center ;">
          DID 신분증 발급 준비 중.....
        </span>
        </h4>   
        <br>
    </div>

    <div>
      <img src="/images/police.png" width:15px height:15px>
      <h3>서울지방경찰청</h3>
      <br></br>
      <small>문의사항 : Tel. 010-111-1111</small>
    </div>




    <script type="text/javascript">
      //////////////////////////////
      //  Configure connect object
      /////////////////////////////
      const Connect = window.uportconnect;
      const uport = new Connect('MyDApp');
      const reqID = 'disclosureReq';
      uport.requestDisclosure();
      uport.onResponse('disclosureReq').then(res => {
        json = JSON.stringify(res.payload);
        console.log(json);
        document.querySelector('#msg').innerHTML =
          `Here is your DID identifier:  ` +
          json + `    <h4>
            <span style="border:1px solid;padding:20px; text-align: center ;">
              DID 인증서 발급이 완료되었습니다. (2019.12.30)
            </span>
            </h4>   `;
      });
      uport.sendVerification({
        exp: Math.floor(new Date().getTime() / 1000) + 30 * 24 * 60 * 60,
        claim: { Example: { 'Last Seen': `${new Date()}` } },
      });
    </script>
  </body>
</html>
